@mixin background-size($width, $height) {
  -webkit-background-size: $width $height;
  -moz-background-size: $width $height;
  -o-background-size: $width $height;
  background-size: $width $height;
}

  %sprite2x-image {
    $sprite-total-width: 1924px;
    $sprite-total-height: 1137px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/sprite2x-2014-04-04-10-58-39.png);
    background-repeat: no-repeat;
    @include background-size($sprite-total-width/2, $sprite-total-height/2);
  }

  @mixin sprite-width($sprite) {
    $sprite-width: nth($sprite, 5);
    width: $sprite-width/2;
  }

  @mixin sprite-height($sprite) {
    $sprite-height: nth($sprite, 6);
    height: $sprite-height/2;
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x/2  $sprite-offset-y/2;  
  }

  @mixin sprite($sprite) {
    @extend %sprite2x-image;
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }

  $sprite2x-icon-delete: 0px 0px 0px 0px 640px 1137px 1924px 1137px '../images/sprite2x-2014-04-04-10-58-39.png';
  .sprite2x-icon-delete {
    @include sprite($sprite2x-icon-delete);
  }
  $sprite2x-icon-minus: 642px 0px -642px 0px 640px 1136px 1924px 1137px '../images/sprite2x-2014-04-04-10-58-39.png';
  .sprite2x-icon-minus {
    @include sprite($sprite2x-icon-minus);
  }
  $sprite2x-icon-plus: 1284px 0px -1284px 0px 640px 1136px 1924px 1137px '../images/sprite2x-2014-04-04-10-58-39.png';
  .sprite2x-icon-plus {
    @include sprite($sprite2x-icon-plus);
  }
