  %sprite-image {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/sprite-2014-04-04-10-58-39.png);
    background-repeat: no-repeat;
  }

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @extend %sprite-image;
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }

  $sprite-icon-delete: 0px 0px 0px 0px 640px 1137px 1924px 1137px '../images/sprite-2014-04-04-10-58-39.png';
  .sprite-icon-delete {
    @include sprite($sprite-icon-delete);
  }
  $sprite-icon-minus: 642px 0px -642px 0px 640px 1136px 1924px 1137px '../images/sprite-2014-04-04-10-58-39.png';
  .sprite-icon-minus {
    @include sprite($sprite-icon-minus);
  }
  $sprite-icon-plus: 1284px 0px -1284px 0px 640px 1136px 1924px 1137px '../images/sprite-2014-04-04-10-58-39.png';
  .sprite-icon-plus {
    @include sprite($sprite-icon-plus);
  }
